.AddContribute .AddContribute-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  .AddContribute  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
  }
  
  .AddContribute  .dropdown {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin-top: 5px;
    width: 20%;
    background-color: white;
    position: absolute;
    z-index: 10;
  }
  
  .AddContribute  .dropdown li {
    padding: 10px;
    cursor: pointer;
  }
  
  .AddContribute  .dropdown li:hover {
    background-color: #f0f0f0;
  }
  
  .AddContribute  .AddContributeModel {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    width: 400px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    animation: fadeIn 0.3s ease-in-out;
  }
  /* Close (X) Button specific to AddContribute */

  
  .AddContribute  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .AddContribute  .AddItem {
    margin-bottom: 15px;
  }
  
  .AddContribute  label {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
  }
  
  .AddContribute  input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .AddContribute  .ButtonContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .AddContribute  .CancelButton, .SubmitButton {
    background-color: #003366;
    color: white;
   
    
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .AddContribute  .CancelButton {
    background-color: rgba(255, 0, 0, 0.822);
  }
  
  .AddContribute  .CancelButton:hover, .SubmitButton:hover {
    opacity: 0.9;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  