footer {
  background-color: #dff4f3;
  padding: 40px 20px;
  position: relative;
  width: 100%;
  margin-top: auto;
  z-index: -1; /* Push the footer down */
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 150px;
}

.footer-logo img {
  height: 80px;
  margin-bottom: 10px;
}

.footer-logo p {
  font-size: 16px;
  margin: 0;
}

.sidebar {
  flex: 1;
  min-width: 150px;
}

.sidebar h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 5px;
}

.sidebar ul li a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.sidebar ul li a:hover {
  color: #333;
  background-color: transparent;
}

.contact-info {
  flex: 1;
  min-width: 150px;
}

.contact-info h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 14px;
  margin: 5px 0;
}

.social-icons a {
  font-size: 24px;
  margin: 0 5px;
  color: #333;
  text-decoration: none;
  display: inline-block;
  margin-right: 15px;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding: 0;
}

.social-icons .bi-instagram:hover {
  color: #e1306c;
}

.social-icons .bi-twitter:hover {
  color: #1da1f2;
}

.social-icons .bi-linkedin:hover {
  color: #0A66C2;
}

.social-icons .bi-whatsapp:hover {
  color: #25d366;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo,
  .sidebar,
  .contact-info {
    margin-bottom: 20px;
  }

  .social-icons {
    margin-left: 0;
  }
  
  footer {
    z-index: 999;
  }
}
