@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Navigation */
.nav-bar {
    z-index: 1000;
    position: sticky;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    display: flex;
    background-color: #dff4f3;
    align-items: center;
    color: #162978;
    padding: 20px 0;
    margin-bottom: 40px;
    padding-left: 30px;
}

#logout-btn {
    color: rgb(170, 2, 2);
    order: 999;
    margin-left: auto;
    margin-right: 20px;
}

.nav-logo img {
    margin-right: auto;
}

.nav-bar .bars {
    padding: 0 20px;
    display: none;
    width: 100%;
}

.nav-bar .bar {
    margin-left: auto;
    cursor: pointer;
}
  
.nav-bar .link {
    margin: 0 10px;
}

.nav-bar p {
    margin: 5px 15px;
}

.nav-bar .link:first-child {
    margin-left: 70px;
}

@media (max-width: 670px) {
    .nav-bar {
        flex-direction: column;
        padding-left: 0;
    }
    
    .nav-bar .bars * {
        width: 50px;
    }
    
    .nav-bar .bars {
        display: flex;
        padding-right: 0;
        align-items: center;
    }
    
    .nav-bar p {
        display: none;
    }
    
    .nav-bar .link:hover {
        background-color: rgb(57, 57, 143);
        color: white;
    }
    
    .nav-bar .link {
        width: 100%;
        padding: 20px;
    }
    
    .nav-bar .link:first-child {
        margin-left: 0px;
    }
}
